[submodule "linux_kernel"]
	path = linux_kernel
	url = https://github.com/orangepi-xunlong/mainline_kernel.git
[submodule "uboot"]
	path = uboot
	url = https://github.com/orangepi-xunlong/mainline_uboot.git
